@tailwind base;
@tailwind components;
@tailwind utilities;

.list-bahan {
	@apply border-b border-dashed border-slate-300 py-2;
}

@layer base {
	.swiper {
		width: 100%;
		height: 100%;
	}

	.swiper-slide {
		text-align: center;
		font-size: 18px;
		background: transparent;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: end;
		padding-bottom: 50px;
	}
	.swiper-pagination-bullet {
		height: 12px;
		width: 12px;
	}
}
